[package]
name = "primitives"
version = "0.1.0"
authors = ["kilpatty <seanpkilgarriff@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cryptoxide = "0.1.1"
sp800-185 = "0.2.0"
hex = "0.3.2"
handshake_types = { path="../types" }
handshake_protocol = { path="../protocol" }
